html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #e5e5e5;
  --secondary-white-color: #fff;
  --primery-black-color: #2f303a;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primery-white-color);
  font-family: roboto, sans-serif;
}

/* Контейнер */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Общие стили для кнопок */
.button {
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
}

/* Убираем стили у списков и ссылок */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* Одинаковые стили для нашего логотипа */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* одинаковые стили для текста в шапке */
.font-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Одинаковые сили для акцентов */
.accent {
  color: var(--accent-color);
}

/* ----------------Стили для страницы Студия--------------- */
/*---------Шапка страницы--------*/
.header {
  background-color: var(--secondary-white-color);
}

.header .container {
  outline: 1px solid tomato;
}

/* logo */
.header .logo {
  color: var(--primary-text-color);
}

/* Главная навигация */
.site-nav .list {
  color: var(--primary-text-color);
}

.site-nav .list:hover,
.site-nav .list:focus {
  color: var(--accent-color);
}

/* Наши контакты */
.site-contact .list {
  color: var(--secondary-text-color);
}

.site-contact .list:hover,
.site-contact .list:focus {
  color: var(--accent-color);
}

/* ----Уникальный контент стрыницы---- */
/* Наш герой */
.hero {
  background-color: var(--primery-black-color);
}

.hero-container {
  text-align: center;
  outline: 1px solid teal;
}

.hero-title {
  margin: 0 0 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}

.hero-button {
  min-width: 200px;
  height: 50px;

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;

  color: var(--secondary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}

/* Преимущества компании */
.advant .container {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 1px solid black;
}

.advant-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advant-text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */
.directions .container {
  outline: 1px solid blue;
}

.directions-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03;
}

/* Наша команда */
.our-team {
  background-color: #f5f4fa;
}

.our-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03;
}

.our-team .item {
  width: 270px;
  height: 368px;
  background-color: var(--secondary-white-color);
}

.our-team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team .profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*-------Подвал страницы-------*/
.footer {
  background-color: var(--primery-black-color);
}

/* logo */
.footer .logo {
  color: var(--secondary-white-color);
}

/* Адрес города и улицы */
.city-street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}

/* Наши контакты в подвале страницы */
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/*--------------------Стили для страницы Портфолио---------------- */
/* Навигация продуктов */
.products .button {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.products .button:hover,
.products .button:focus {
  color: var(--secondary-white-color);
  background-color: var(--accent-color);
}

/* Продукты компании */
.products .item {
  width: 370px;
  height: 404px;
  background-color: var(--secondary-white-color);
}

.products .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
